<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="app-key" value="your-app-key-here"/>
    <add key="authorization.username" value="your-username-here"/>
    <add key="authorization.password" value="your-password-here"/>
  </appSettings>

  <system.net>
    <defaultProxy enabled="false">
      <proxy bypassonlocal="true" proxyaddress="http://localhost:8888/" />
    </defaultProxy>
  </system.net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
