<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="app-key" value="qqsw1m9n0thjp3fw5ncr7zereey7ketm"/>
    <add key="authorization.username" value="robert.sindall@gmail.com"/>
    <add key="authorization.password" value="password"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
